
body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: space-evenly;
	background-color: #55BCC9
}



.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
}

.wincount {
  height: 85vh;
  width: 25vw;
  border: 2px black solid;
	background-color: #97CAEF;
	border-radius: 5vw;
}

.display {
  height: 85vh;
  width: 40vw;
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
	background-color: #3FEEE6;
	border-radius: 5vw;
	margin: 4vw
}

.buttons {
  height: 10vh;
  width: 10vh;
	align-self: stretch;
}

.result {
  height: 30vh;
  width: 30vh;
  align-self: center;
	align-content: space-around;
  font-size: 8vh;
	font-stretch: expanded;
	border: 2px black solid;
	margin: 2vh
}

#player-hand {
	height: 10vh;
	width: 10vh;
}

#computer-hand {
	height: 10vh;
	width: 10vh;
}
