
body {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-evenly;
	background-color: #55BCC9
}

.display {
	height: 85vh;
	width: 45vw;
	background-color: #3FEEE6;
	border-radius: 5vw;
	border-color: #55BCC9;
	margin: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}


.hidden {
	display: none;
}


.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.smallWrapper {
	height: 10vh;
	width: 30vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;

}

.wincount {
  height: 85vh;
  width: 25vw;
	background-color: #97CAEF;
	border-radius: 5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}

.view-display {
	background-color: #97CAEF;
	border-radius: 4vw;
}

.view-winner {
}

.result {
	background-color: #CAFAFE;
  height: 35vh;
  width: 35vh;
	border: 2px black solid;
	margin-top: 4vh;
	border-radius: 5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	align-items: center;
	flex-wrap: nowrap;
}

.wincount-text {
	font-family: 'Varela Round', sans-serif;
	font-size: 5vh;
	color: #CAFAFE;
}

.info {
	font-family: 'Varela Round', sans-serif;
	font-size: 6vh;
	color: #CAFAFE;
}

.select {

}

.select:active {
	border: 2px solid #FC4445;
	background-color: #FC4445;
	border-radius: 5vw;
}

.text {
		font-family: 'Varela Round', sans-serif;
		font-size: 6vh;
		align-self: center;
		margin-left: 3vw;
		margin-bottom: 5vh;
		color: #FC4445;
		padding: 1px
}


.play {
	font-family: 'Varela Round', sans-serif;
	margin-top: 10vh;
	margin-left: 10vw;
	width: 7vw;
	height: 4vh;
	background-color: #FC4445;
	color: #CAFAFE;
	border-color: #FC4445;
	border-radius: 4vw;
}

.play:hover {
	cursor: pointer;
	background-color: #55BCC9 ;
	border-color: #55BCC9;

}


#player-hand {
	height: 40px;
	width: auto;
	margin-top: 2vh;
}

#computer-hand {
height: 40px;
width: auto;
margin-top: 2vh;

}

#select-rock {
	height: 12vh;
	width: auto;
}

#select-rock:hover {
cursor: pointer;
height: 14vh;
width: auto;
}

#select-paper{
	height: 14vh;
	width: auto;
	margin-bottom: 2vh;
}

#select-paper:hover {
	cursor: pointer;
	height: 16vh;
	width: auto;
	margin-bottom: 2vh;

}

#select-scissors{
	height: 11vh;
	width: auto;
}

#select-scissors:hover {
	cursor: pointer;
	height: 13vh;
	width: auto;
}

#select-hang {
height: 14vh;
width: auto;
margin-bottom: 2vh
}

#select-hang:hover {
	cursor: pointer;
	height: 16vh;
	width: auto;
}

#select-peace {
height: 14vh;
width: auto;
margin-bottom: 2vh;
}

#select-peace:hover {
cursor: pointer;
height: 16vh;
width: auto;
}
#display-text {
	margin-left: 7vw;
	margin-bottom: 3vh;
	align-self: center;

}
