
body {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-evenly;
	background-color: #55BCC9
}

.display {
	height: 85vh;
	width: 45vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	background-color: #3FEEE6;
	border-radius: 5vw;
	margin-left: 1.3vw;
}


.hidden {
	display: none;
}


.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.wincount {
  height: 85vh;
  width: 25vw;
	background-color: #97CAEF;
	border-radius: 5vw;
}

.view-display {

}

.view-winner {

}



.result {
	background-color: #CAFAFE;
  height: 35vh;
  width: 35vh;
	border: 2px black solid;

	margin-top: 4vh;
	border-radius: 5vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#play {
	font-family: 'Varela Round', sans-serif;
	margin-top: 3vh;
	width: 7vw;
	height: 4vh;
	align-self: center;
	background-color: #FC4445;
	color: #CAFAFE;
	border-color: #FC4445;
	border-radius: 5vw;
}

#play:hover {
	cursor: pointer;
	background-color: #97CAEF;
	border-color: #97CAEF;
}

#result-text {
	font-family: 'Varela Round', sans-serif;
	font-size: 10vh;
	align-self: center;
	margin-left: 3.8vw;
}

#player-hand {
	height: 12vh;
	width: auto;
	margin-bottom: 2vh;
}

#computer-hand {
	height: 12vh;
	width: auto;
	margin-bottom: 2vh;
}

#select-rock {
}

#select-rock:hover {
cursor: pointer;
height: 8vh;
width: 8vh;
}

#select-paper{
}

#select-paper:hover {
	cursor: pointer;
	height: 8vh;
	width: 8vh;
}

#select-scissors{
}

#select-scissors:hover {
	cursor: pointer;
	height: 8vh;
	width: 8vh;
}
